.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 114 !important;
}

.vp-doc a {
    text-decoration: none;
}

/* .vitepress\theme\style\var.css */
/* 提示框背景颜色 */
:root {
    --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* Info */
.custom-block.info {
    border-color: var(--vp-c-gray-2);
}

/* 提示框 */
.custom-block.tip {
    border-color: var(--vp-c-indigo-2);
}

/* 警告框 */
.custom-block.warning {
    /* border-color: #d97706; */
    border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
    /* border-color: #f43f5e; */
    border-color: var(--vp-c-red-2);
}


.VPSocialLinks.VPNavBarSocialLinks.social-links {
    margin-right: 0;
}